    GLOBAL_SETTINGS
    LAB_MASTER_SEED oswl-lin-pam-mfa-1_student_master_seed
NETWORK NET2
     MASK 172.18.10.0/24
     GATEWAY 172.18.10.1
CONTAINER main
     USER ubuntu
     X11 YES
     TERMINALS 2
     PASSWORD ubuntu
     NET2 172.18.10.2
CONTAINER allowed
     USER allowed
     X11 YES
     NET2 172.18.10.3
CONTAINER blocked
     USER blocked
     X11 YES
     NET2 172.18.10.4
