    GLOBAL_SETTINGS
    LAB_MASTER_SEED oswl-lin-pam-logging_student_master_seed
NETWORK NET2
     MASK 172.16.10.0/24
     GATEWAY 172.16.10.1
CONTAINER oswl-lin-pam-logging
     USER ubuntu
     X11 YES
     TERMINALS 2
     PASSWORD ubuntu
     NET2 172.16.10.2
CONTAINER client
     USER client
     X11 YES
     NET2 172.16.10.3
